<div style="max-width: 600px">
  <h2 class="title">Inserisci i dati del nuovo corso di studi:</h2>

  <mat-dialog-content>

    <mat-form-field class="full-lenght">
      <input matInput placeholder="Nome del corso" type="text" [(ngModel)]="newCourse.name">
    </mat-form-field>
    <mat-form-field class="full-lenght">
      <input matInput placeholder="Tipologia" type="text" [(ngModel)]="newCourse.type" required>
    </mat-form-field>
    <mat-form-field class="full-lenght">
      <input matInput placeholder="Lunghezza / Anni" type="number" [(ngModel)]="newCourse.lenght" required>
    </mat-form-field>
    <mat-form-field class="full-lenght">
      <input matInput placeholder="Crediti totali" type="number" [(ngModel)]="newCourse.credits" required>
    </mat-form-field>
    <mat-form-field class="full-lenght">
      <input matInput placeholder="Sede" type="text" [(ngModel)]="newCourse.location" required>
    </mat-form-field>
    <mat-form-field class="full-lenght">
      <input matInput placeholder="Lingua in cui viene erogato" type="text" [(ngModel)]="newCourse.language" required>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">ANNULLA</button>
    <button class="mat-raised-button mat-primary"(click)="save()">SALVA</button>
  </mat-dialog-actions>
</div>
