<div>
  <div class="title">Corsi di studio</div>
  <div class="container">
    <div class="content">


      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Elenco corsi di studio attivi:</mat-card-title>
        </mat-card-header>
        <mat-divider style="margin: 0 5px 0 5px;"></mat-divider>
        <mat-card-content>

<!--          <ul style="list-style: none; padding-left: 0px">
            <li class="header-row">
              <div style="width: 8%">{{headers[0]}}</div>
              <div style="width: 32%">{{headers[1]}}</div>
              <div style="width: 12%">{{headers[2]}}</div>
              <div style="width: 12%">{{headers[3]}}</div>
              <div style="width: 12%">{{headers[4]}}</div>
              <div style="width: 12%">{{headers[5]}}</div>
              <div style="width: 12%">{{headers[6]}}</div>
            </li>
            <li *ngFor="let item of courses" class="row">
              <div style="width: 8%">{{item.id}}</div>
              <div style="width: 32%">{{item.name}}</div>
              <div style="width: 12%">{{item.type}}</div>
              <div style="width: 12%">{{item.lenght}}</div>
              <div style="width: 12%">{{item.credits}}</div>
              <div style="width: 12%">{{item.location}}</div>
              <div style="width: 12%">{{item.language}}</div>
            </li>
          </ul>-->

          <table matSort (matSortChange)="sortData($event)" sort matSortActive="idCourse" class="full-lenght">
            <tr class="header-row">
              <th mat-sort-header="idCourse" style="width: 8%">{{headers[0]}}</th>
              <th mat-sort-header="name" style="width: 32%">{{headers[1]}}</th>
              <th mat-sort-header="type" style="width: 12%">{{headers[2]}}</th>
              <th mat-sort-header="lenght" style="width: 12%">{{headers[3]}}</th>
              <th mat-sort-header="credits" style="width: 12%">{{headers[4]}}</th>
              <th mat-sort-header="location" style="width: 12%">{{headers[5]}}</th>
              <th mat-sort-header="language"style="width: 12%">{{headers[6]}}</th>
            </tr>

            <tr *ngFor="let item of courses" class="row">
              <td style="width: 8%">{{item.id}}</td>
              <td style="width: 32%">{{item.name}}</td>
              <td style="width: 12%">{{item.type}}</td>
              <td style="width: 12%">{{item.lenght}}</td>
              <td style="width: 12%">{{item.credits}}</td>
              <td style="width: 12%">{{item.location}}</td>
              <td style="width: 12%">{{item.language}}</td>
            </tr>
          </table>


        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="mright">MODIFICA</button>
          <button mat-raised-button (click)="openNewCourseDialog()">AGGIUNGI</button>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>
</div>
