.sidenav-container {
  height: 100%;
}

.nav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  padding-top: 20px;
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.nav-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-content {
  padding: 20px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.active-link {
  border-left: 7px solid #f9aa33;
  background:rgba(0,0,0,.04);
  transition:.3s all linear;
}

.sidebar-link-group li {
  padding-left: 15px
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0px;
  display: block;
}
