<mat-toolbar class="nav-header" style="padding-left: 0px">
  <div style="width: 250px; text-align: center">
    <img src="../../../../assets/images/universita-del-salento-260-gold.png" height="68" width="229"/>
  </div>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="goToHomePage()"><mat-icon>home</mat-icon>Home</button>
  <button mat-button><mat-icon>settings</mat-icon>Impostazioni</button>
  <button mat-button (click)="logOut()"><mat-icon>power_settings_new</mat-icon>Log out</button>
</mat-toolbar>
<mat-sidenav-container class="nav-container m50">
  <mat-sidenav #sidenav
               mode="side"
               opened="true"
               class="sidenav m300"
               [fixedInViewport]="false">
    <div style="display: flex; align-items: center; justify-content: center; padding-bottom: 20px">
      <img src="../../../assets/images/profile-pictures.png" height="90" width="90"/>
    </div>
    <div class="table" style="padding-left: 20px">
      <mat-icon>person</mat-icon>
      <div class="cell" style="width: 70px">
        Utente:
      </div>
      <div class="cell">
        {{user.name}} {{user.surname}}
      </div>
    </div>

    <mat-divider style="margin: 5px 5px 5px 5px"></mat-divider>
    <mat-accordion>
      <mat-expansion-panel  style="background:  none; box-shadow: none; padding: 0px; margin: 0px">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: unset">
            Didattica
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="sidebar-link-group" style="margin-top: 0px; list-style-type: none;">
          <li [routerLinkActive]="['active-link']"><a mat-list-item routerLink="course" role="button">Corsi di studio</a></li>
          <li [routerLinkActive]="['active-link']"><a mat-list-item routerLink="teaching-management" role="button">Insegnamenti</a></li>
        </mat-nav-list>

      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel  style="background:  none; box-shadow: none; padding: 0px; margin: 0px">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: unset">
            Risorse
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="sidebar-link-group" style="margin-top: 0px; list-style-type: none;">
          <li [routerLinkActive]="['active-link']"><a mat-list-item routerLink="professor-management" role="button">Professori</a></li>
          <li [routerLinkActive]="['active-link']"><a mat-list-item routerLink="student-management" role="button">Studenti</a></li>
          <li [routerLinkActive]="['active-link']"><a mat-list-item routerLink="room-management" role="button">Aule</a></li>
          <li [routerLinkActive]="['active-link']"><a mat-list-item routerLink="lesson-management" role="button">Lezioni</a></li>
          <li [routerLinkActive]="['active-link']"><a mat-list-item routerLink="exame-management" role="button">Esami</a></li>
        </mat-nav-list>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content class="nav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="nav-footer m900"></mat-toolbar>
