<div>
  <div class="title">Benvenuto nella tua area riservata!</div>
  <div class="table">
    <div class="cell">


      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Dati personali</mat-card-title>
        </mat-card-header>
        <mat-divider style="margin: 0 5px 0 5px;"></mat-divider>
        <mat-card-content>
          <mat-grid-list [cols]="2" style="width: 400px" rowHeight="45px">
            <mat-grid-tile style="width: 100px">Nome e Cognome:</mat-grid-tile>
            <mat-grid-tile>{{user.name}} {{user.surname}}</mat-grid-tile>
            <mat-grid-tile>Email:</mat-grid-tile>
            <mat-grid-tile>{{user.email}}</mat-grid-tile>
            <mat-grid-tile>Età:</mat-grid-tile>
            <mat-grid-tile>{{user.age}}</mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>


    </div>
    <div class="cell">


    </div>
  </div>
</div>
