.card {
  max-width: 400px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.title {
  font-size: 25px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 400;
  color: #666;
  padding: 10px;
}

.table {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  overflow: visible;
  display: flex;
  padding: 5px;
}

.cell {
  flex-direction: row;
  padding: 10px;
}
